/* Styles very experimental */
body {
    overflow: hidden;
    margin: 0;
    padding:0;
}

.playfield {
  position: relative;
  height: 100%;
  width: 100%;
}

.open-btn {
    display: inline-block;
    position: absolute;
    border: 1px solid #445588;
    background: #222222;
    color: #bbbbbb;
    font-size: x-large;
}

/*.code {*/
    /*position: absolute;*/
    /*border: 2px solid #445588;*/
    /*background: #222222;*/
    /*/!*width: 480px;*!/*/
    /*/!*height: 360px;*!/*/
/*}*/

.popup {
    z-index: 100;
}

#code-window {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 100px;
    bottom: 100px;
}

.modal {
    width: 50%;
    /*background: white;*/
}

.form-row {
    margin: 8px 0px;
    text-align: center;
}

.form-row label {
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 20%;
    margin-right: 12px;
}

.form-row input {
    width: 35%;
    margin: 0px 8px;
}

.form-row select {
    width: 30%;
    margin: 0px 24px;
}

.ui-selectmenu-button {
    vertical-align: middle;
}

.message {
    font-size: large;
    text-align: center;
    padding: 0 0.7em;
    margin-top: 18px;
    width: 480px;
    height: 360px;
}

/* Hacky stuff */
.blocklySvg {
    background-color: rgba(0, 0, 0, 0) !important;
}

#code-window .ui-widget-content {
    background-color: rgba(0, 0, 0, 0) !important;
}
